@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/* Default CSS */

*{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
img{
    max-width: 100%;
    transition: .4s;
}
img:hover{
    transform: scale(1.1);
}
.fixed-width{
    width: 1150px;
    margin: auto;
}
.half-width{
    width: 50%;
    float: left;
    height: auto;
}
.different-color{
    color: #06aba5;
}
.description {
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Lora', serif;
    color: rgb(78, 78, 78);
}
.colorful-btn {
    text-decoration: none;
    border-radius: 10px;
    padding: 13px 30px;
    font-size: 15px;
    color: #fff;
    background-color: #06aba5;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    transition: .3s;
    box-shadow: -1px -1px 10px 0px rgba(21,140,186,0.75);
}
.colorful-btn:hover{
    color: #06aba5;
    background-color: #fff;
    transform: scale(1.1);
    margin-left: 30px;
}

/* focused in 2022 section */
.focused{
    padding: 60px 0;
}
.focused-left-content{
    padding: 60px 0;
}
.focused-heading {
    color: #2f5185;
    border-left: 5px solid #214a8c;
    font-size: 50px;
    margin-bottom: 45px;
    border-width: 125%;
    padding-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    transition: .3s;   
}
.profile-img{
    position: relative;
    width: 100%;
}
.profile-img img {
    width: 70%;
    float: right;
}
/* About My Mission */
.about {
    padding: 100px 0;
    background-image: url(./images/shapes/shape-7.png);
    background-repeat: no-repeat;
    background-size: 300px 300px;
    background-position: right top;  
}
.about-title{
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.about-boxes{
    display: flex;
}
.box {
    width: 26%;
    height: auto;
    border-radius: 20px;
    padding: 20px 25px;
    margin-right: 56px;
    box-shadow: -1px -1px 10px 0px rgba(21,140,186,0.75);
    transition: .2s;
}
.box:hover{
    transform: scale(1.1);
}
.about-boxes, .box:last-child{
    margin-right: 0;
}
.box:nth-child(1){
    background-color: #edf5f6;
}
.box:nth-child(2){
    background-color: #ffeeee;
}
.box:nth-child(3){
    background-color: #fff4d6;
}
.box img {
    width: 50%;
}
.box-title h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Merriweather Sans', sans-serif;
}

/* Develop Area */
.develop-area{
    padding: 60px 0;
    background-image: url(./images/shapes/shape-6.png);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: right bottom;
    background-position-y: left;
}
.develop-left-content{
    position: relative;
}
.develop-left-content img {
    width: 70%;
    margin-left: 70px;
    border-radius: 50px;
    box-shadow: -1px -1px 10px 0px rgba(88, 88, 88, 0.75);
}
.develop-right-content {
    padding-top: 50px;
}
.develop-right-content h3 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(44, 44, 44, .9);
}
.develop-right-content p {
    margin-bottom: 35px;
    font-size: 18px;
}
/* Community Area */
.community{
    padding: 60px 0;
    background-image: url(./images/shapes/shape-5.png);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: left bottom;
}
.community-left-content{
   padding: 70px 0;
}
.community-left-content h2{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(44, 44, 44, .9);
    font-size: 40px;
    margin-bottom: 30px;
}
.community-right-content {
    position: relative;
}
.community-right-content img{
    width: 70%;
    margin-left: 70px;
    border-radius: 50px;
    box-shadow: -1px -1px 10px 0px rgba(88, 88, 88, 0.75);
}
/* What I do */
.what-i-do{
    padding: 80px 0;
}
.whatIDo-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 30px;
    border-left: 5px solid #214a8c;
    padding-left: 20px;
    margin-bottom: 30px;
}
.icon-cards{
    margin-top: 30px;
    display: flex;
}
.card{
    margin-right: 5%;
    width: 20%;
    padding: 30px;
    border-radius: 5px;
    transition: .4s;
    margin-top: 50px;
    
}
.card:hover{
    transform: scale(1.1);
    box-shadow: -1px -1px 10px 0px rgba(21,140,186,0.75);
}
.card:nth-child(1){
    background-color: rgba(172, 30, 30, 0.3);
}
.card:nth-child(2){
    background-color: rgb(24, 24, 153, .3);
}
.card:nth-child(3){
    background-color: rgb(202, 149, 51, .3);
}

.card:nth-child(4){
    margin-right: 0;
    background-color: rgb(179, 36, 60, .3);
}
.icon {
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
}
.icon span{
    color: #06aba5;
    font-size: 35px;
    background-color: #fff;
    border-radius: 50%;
    padding: 30px;
    box-shadow: -1px -1px 10px 0px rgba(21,140,186,0.75);
}

/* footer */
.footer{
    padding: 60px 0;
    background-color: #000;
}
.footer-content{
    text-align: center;
    color: #fff;
}
.footer-content h1{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
